:root {
  --blue-color: #2196f3;
  --grey-color: #757575;
  --white-color: #ffffff;
  --dark-grey-color: #2f3032;
  --black-color: #212121;
  --footer-color: rgba(255, 255, 255, 0.6);
}

ul,
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--white-color);
  margin: 0;
}

.main-title {
  background-color: var(--white-color);
  height: 600px;
  background-image: linear-gradient(
    90deg,
    rgba(47, 48, 58, 0.4) 0%,
    rgba(47, 48, 58, 0.4) 0%
  );
  background-image: url("../images/overly.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.team-section {
  background-color: #f5f4fa;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-nav {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
}

.flex-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-links {
  display: flex;
  align-items: center;
  gap: 93px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue-color);
  text-decoration: none;
  border: none;
}

.black {
  color: var(--black-color);
}
.white {
  color: var(--white-color);
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  gap: 46px;
}

.nav-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--blue-color);
}

.icon-contacts-list {
  vertical-align: center;
  fill: var(--grey-color);
  margin-right: 10px;
}

.icon-contacts-list:hover,
.icon-contacts-list:focus {
  color: var(--blue-color);
}

.contacts-list {
  display: flex;
  gap: 50px;
  list-style: none;
}

.contacts-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  text-decoration: none;
}

.contacts-list a:hover,
.contacts-list a:focus {
  color: var(--blue-color);
}

.icon-header {
  vertical-align: middle;
  fill: currentColor;
  margin-right: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: 106px 252px 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-color);
}

.title button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  background: var(--blue-color);
  padding: 10px 42px 10px 41px;
  margin-bottom: 106px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.portfolio-buttons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 6px;
  justify-content: center;
}

.main-button {
  text-align: center;
}

.articles h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
}

.articles {
  display: flex;
  list-style: none;
}

.lorem-icons {
  display: inline-block;
  margin-right: 20px;
}
.lorem-icon {
  padding: 25px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.articles p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
  color: var(--grey-color);
}

.images-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.photo {
  margin-top: -94px;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: var(--black-color);
  margin-top: 0;
  padding-bottom: 50px;
}

.team-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style-type: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.logo-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-image {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team-member {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03;
  color: var(--black-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: var(#2f3032);
  padding-top: 10px;
}

.box-icons-team {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  fill: #afb1b8;
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
}

.icons-team {
  list-style-type: none;
}

.icon-team {
  display: block;
  border-radius: 50%;
  fill: #afb1b8;
}

.icon-social {
  display: block;
  border-radius: 50%;
}

.icon-team:hover,
.icon-team:focus {
  fill: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 50%;
}

.clients-box {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.icons-clients {
  display: block;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icon-client {
  width: 170px;
  height: 92px;
}

.icons-clients:hover,
.icons-clients:focus {
  fill: var(--blue-color);
  border-color: var(--blue-color);
}

/*footer*/

.footer-address {
  background-color: var(--dark-grey-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-footer {
  display: flex;
  gap: 70px;
}

.localization {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
  color: var(--white-color);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0px;
  gap: 9px;
}

.footer-contacts a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 0.03;
  color: var(--footer-color);
}

.mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 0.03;
  color: var(--footer-color);
  text-decoration: underline;
}

.footer-contacts :hover,
.footer-contacts :focus {
  color: var(--blue-color);
}

.filter {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--black-color);
  background: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 15);
  border: none;
  border-radius: 4px;
}

.filter:hover,
.filter:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.box-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  margin-top: 50px;
  list-style-type: none;
}

.box-grid a {
  text-decoration: none;
}

.portfolio-images {
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-images:hover,
.portfolio-images:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.image-portfolio-title {
  color: var(--black-color);
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.image-portfolio-title h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.image-portfolio-title p {
  color: var(--grey-color);
  margin-top: 4px;
}

.join-us-box {
  align-items: center;
  margin-top: -12px;
  margin-left: 12px;
}

.icons-join-us {
  list-style-type: none;
  margin-top: 20px;
  display: flex;
  cursor: pointer;
  gap: 10px;
}

.icon-social-footer {
  fill: var(--white-color);
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.join-us-box h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 22px;
  margin-bottom: 0px;
}
